body,
html,
#root {
  height: 100%;
  background-color: black;
}

html {
  font-size: 18px;
}

h1 {
  text-align: center;
  font-family: 'Workbench', sans-serif;
  font-size: 5rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}
